#results {
    min-height: 300px;
}

/* 
  #div_params_plant{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    'slider_tsim slider_tsim'         
    'slider_tw slider_w'
    'slider_tvi slider_vi'      
    'slider_tvo slider_vo'
    'slider_Ks slider_Ksm'
    'slider_T1 slider_T1m'   
    'slider_Td slider_Tm' 
    'slider_Tf slider_Tc'
    'slider_KP slider_Kc'     
    'slider_beta1 slider_beta1'   
    'checkbox_sat checkbox_sat'    
    'div_sats div_sats';
    grid-gap: 10px;
  } 
   */

/*
  'slider_Umin slider_Umax'
    'slider_Uifmin slider_Uifmax'
  */

.elementDisabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    /* background: #CCC; */
}

.param_label {
    display: block;
    float: left;
    width: 100px;
    text-align: left;
    padding-right: 10px;
    margin-top: -1.6em;
}

.labelrow {
    width: 47%;
    text-align: left;
    padding-right: 10px;
    margin-top: -1.2em;
}

h6 {
    margin: 10px;
}

.vstup2 {
    /*width: 300px;*/

    label {
        display: block !important;
    }
}

.inputs > input {
    margin-top: -0.42em;
    margin-bottom: 0;
    display: block;
    float: left;
    width: 100%;
    border-radius: 5px;
    height: 1.6em !important;
}

.checkbox-label {
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

.checkbox-choice-label {
    width: 100%;
    margin: 4px -3px;
    padding: 6px 20px;
    text-align: left;
    font-size: small;
    border: 0;
    font-weight: 550;
    background: #e0e0e0;
    color: black;
    font-weight: 200;

    &:hover {
        background: #6868fa;
        border: 0;
        border-color: #6868fa;
        color: white;
    }
}

.ui-checkboxradio-radio-label {
    background: #ececec;
    color: black;
    border-color: white;
    margin-right: 1rem !important;
    margin-top: 10px !important;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #fff /*{borderColorActive}*/;
    background-color: #ffffff /*{fcActive}*/;
}

.radiobox-label {
    width: 190px;
    text-align: left;
}

#div_radio,
#div_button {
    margin: 30px 0 0 0;
}

/*  
  fieldset {
    border: 0.5px;     
    border: solid;
    border-color: #c5c5c5;     
  }  
*/
legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    font-size: 18px !important;
    margin-bottom: 30px !important;
    padding: 0px 20px !important;
}

input[type="number"] {
    background-color: #f6f6f6;
}

/*  .modebar{
      display: none !important;      
  }      */

/* OBRAZKY */
.div_choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
        height: auto;
        padding-bottom: 40px;
        justify-content: center;
    }
}

.tile {
    flex-basis: 180px;
    max-width: 180px;
    margin: 6px 12px;
    background: #f6f6f6;
    border-radius: 20px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 32px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -17px rgba(0, 0, 0, 0.75);
}

/*
		.tile img {
			width: 100%;
		}
        
        .img_holder > img {
             width: 100%;
        }      */
.zoom_holder > img {
    width: 15px;
}

.tile h5 {
    margin-top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
        .tile .img_holder:hover {
			transform: scale(3.5);  
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            position:relative;
            z-index:999;
		}
        */

.image {
    display: inline-block;
}
img {
    width: 100%;
    display: inline-block;
}
div#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: auto;
    z-index: 999;
}

.radiobox-label {
    width: 190px;
    text-align: left;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #6868fa;
    border-color: #6868fa;
    color: white;
    /*{bgActiveXPos}*/ /*{bgActiveYPos}*/ /*{bgActiveRepeat}*/
    font-weight: normal /*{fwDefault}*/;
}

.comparison {
    h1 {
        font-size: 1.8rem;
        font-weight: 700;
        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}

.simulation {
    color: #58d68d;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;

    h2 {
        font-size: 1.3rem;
        margin-bottom: 25px;
    }
}

#div_check_comparisons {
    position: relative;
    top: 15px;
    margin-bottom: 30px;
}

#comparison_params {
    background: #f4f4f4;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 5px;
    color: black;
    border: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    min-height: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.ui-tooltip {
    padding: 15px;
    background: #58d68d;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 32px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -17px rgba(0, 0, 0, 0.75);
}

fieldset {
    &.schemes {
        margin-bottom: 30px;
    }
}
