.loader {
    position: absolute;
    left: 40%;
    top: 40%; /**/
    /* display: flex;            establish flex container */
    /*flex-direction: column;    align children vertically (column format) */
    /*justify-content: center;   center children vertically */
    /*align-items: center;       center column horizontally */
    z-index: 1;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#results {
    min-height: 300px;
}

label {
    display: block !important;
    float: left !important;
    width: auto;
    text-align: left !important;
    padding-right: 10px !important;
    margin-top: -1.8em !important;
    font-size: 14px;
}

.labelrow {
    width: 47%;
    text-align: left;
    padding-right: 10px;
    margin-top: -1.2em;
}
img {
    display: block;
    margin: 0 auto;
}

h6 {
    margin: 10px;
}

.paramClass {
    width: 3em !important;
    height: 1.6em !important;
    top: 50% !important;
    margin-top: -0.8em !important;
    text-align: center !important;
    line-height: 1.6em !important;
}
.vstup {
    /*width: 300px;*/
    margin: 10px 0;
}

.ui-checkboxradio-label {
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

/*  .modebar{
    display: none !important;      */

.graf_fo {
    h1 {
        font-size: 1.8rem;
        font-weight: 700;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .desc {
        justify-content: initial;
        @include media-breakpoint-down(md) {
            justify-content: center;
        }
    }
}
